body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  font-family: 'Megrim', cursive;
}
h1 {
  font-size: 4em;
  margin: 10px;
}
.header {
  text-align: center;
  padding-bottom: 10px;
}
.link {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: inline-block;
}
.link.active {
  font-weight: bold;
}
.nav {
  text-align: center;
}
.btn {
  padding: 5px;
  background-color: #afafaf;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  transition: all 0.1s;
  border: 1px #afafaf solid;
  cursor: pointer;
}
.btn:hover {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
}
.btn:active {
  background-color: #cfcfcf;
  border-color: #000000;
  color: #565656;
}
.request-list {
  text-align: center;
}
.json-list {
  text-align: left;
  padding: 10px;
  border: solid 1px;
  border-radius: 3px;
  margin: 10px 0px;
}
.request-controls {
  padding: 3px;
}
input {
  margin: 2px;
  padding: 7px;
}
.room-input {
  font-size: 3em;
  max-width: 600px;
  margin: 10% auto;
  text-align: center;
}
.room-input input {
  border-radius: 5px;
  border: 1px black solid;
  text-align: center;
  font-size: 1em;
  width: 200px;
}
.room-input div {
  padding: 15px;
}
pre {
  display: inline-block;
}
#g-recaptcha {
  display: flex;
  justify-content: center;
}
